<div class="modal-overlay" tabindex="-1">
  <div class="modal">
    <button class = 'artists-modal-close-btn'>
      <svg class="artists-modal-close-icon" width="14" height="14">
        <use href="/img/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <!-- <div class="artist-info-wrapper">
      <h1 class = 'artist-name-title'>U2</h1>


      <div class="artist-info">
        <img class = 'artist-img' src="https://ftp.goit.study/img/musicbox/artist/strArtistThumb_qvuxvs1347997318.jpg" alt="sdfsd">

        <div class="artist-short-info">
          <div class="artist-short-info-grid-wrapper">
            <div class="artist-short-info-years">
              <h3 class = 'short-info-small-header short-info-small-header-info-years'>Years active</h3>
              <p class = 'short-info-small-text short-info-small-text-info-years'>dfwefwe</p>
            </div>
            <div class="artist-short-info-sex">
              <h3 class = 'short-info-small-header short-info-small-header-info-sex'>Sex</h3>
              <p class = 'short-info-small-text short-info-small-text-info-sex'>ewfw</p>
            </div>
            <div class="artist-short-info-members">
              <h3 class = 'short-info-small-header short-info-small-header-info-members'>Members</h3>
              <p class = 'short-info-small-text short-info-small-text-info-members'>fwefw</p>
            </div>
            <div class="artist-short-info-country">
              <h3 class = 'short-info-small-header short-info-small-header-info-country'>Country</h3>
              <p class = 'short-info-small-text short-info-small-text-info-contry'>fwefw</p>
            </div>
          </div>
          <div class="artist-bio">
            <h3 class = 'short-info-small-header short-info-small-header-biography'>Biography</h3>
            <p class = 'short-info-small-text short-info-small-text-biography'>Armond Arabshahi, known by his stage name Unlike Pluto, is an American singer, songwriter, music producer, and former DJ. He is mainly known for his song "Everything Black", released under the record label Monstercat in 2017, which he produced with Philadelphia-based vocalist and DJ Mike Taylor.</p>
          </div>

          <div class="more-bio">
            <button class = 'more-bio-btn'>+</button>
          </div>

          <div class="artist-short-info-genres">
            <ul class="artist-short-info-genres-list">
              <li >
                <button class="artist-short-info-genre-btn">
                  cfdeg
                </button>
              </li>
              <li>
                <button class="artist-short-info-genre-btn">
                  dfvdf
                </button>
              </li>
              <li>
                <button class="artist-short-info-genre-btn">
                  vefdvd
                </button>
              </li>
              <li>
                <button class="artist-short-info-genre-btn">
                  dfvdf
                </button>
              </li>
            </ul>
          </div>

        </div>
      </div>
      
      <div class="artist-albums-wrapper">
        <h2 class = 'artist-albums-header'>Albums</h2>
      </div>
    
    <div class="modal-bio">
      <button class = 'artists-modal-bio-close-btn'>
        <svg class="artists-modal-bio-close-icon" width="14" height="14">
          <use href="../img/sprite.svg#icon-close"></use>
        </svg>
      </button>
      <p class = 'modal-bio-text'></p>
    </div>


    
    </div> -->
</div>
