<section class="section feedback">
  <div class="container">
    <h2 class="visually-hidden">Feedbacks our visitors</h2>


    <!-- Slider main container -->
<div class="swiper">

  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">

    <!-- Slides -->
    
    
  </div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div> 

  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need scrollbar -->
  <!-- <div class="swiper-scrollbar"></div> -->
</div>




  </div>
</section>
