<section class="hero">
  <div class="container hero-container">
    <div class="hero-content">
       <h1 class="hero-title">Discover Your Next Favorite Artist 
         <span>Today</span>
         </h1>
      <h2 class="hero-subtitle">
        Dive into a world of music discoveries with ArtistsHub – your personal guide to the boundless universe of sound. Explore, filter, and learn about your favorite artists all in one place.
      </h2>
        <a href="#artists" class="btn explore-btn">
      Explore Artists
      <svg class="hero-icon" width="24" height="24">
        <use href="/img/sprite.svg#icon-right-arrow"></use>
      </svg>
      </a>
    </div>
    <div class="hero-bg-image-wrapper"></div>
  </div>
</section>
