<div class="team-modal-overlay">
  <div class="team-modal">

    <button class="team-modal-close-btn" aria-label="Close modal">
      <svg class="team-modal-close-icon" aria-hidden="true">
          <use href="/img/sprite.svg#icon-close-modal"></use>
        </svg>
    </button>

    <h2 class="team-modal-name">Our Team</h2>
    <ul class="team-modal-list">
      <li class="team-modal-item">
        <picture>
        <source srcset="
        /img/team-modal-img/tetiana-tkachuk-1x.webp 1x,
        /img/team-modal-img/tetiana-tkachuk-2x.webp 2x"
        />
        <img class="team-modal-img" src="/img/team-modal-img/tetiana-tkachuk-1x.webp" alt="team-lead" width="">
        </picture>
        <div class="team-modal-description">
          <p class="team-modal-title">Tetiana Tkachuk</p>
          <p class="team-modal-text">Team Lead</p>
        </div>
      </li>
      <li class="team-modal-item">
        <picture>
        <source srcset="
        /img/team-modal-img/anastasiia-matsiuk-1x.webp 1x,
        /img/team-modal-img/anastasiia-matsiuk-2x.webp 2x"
        />
        <img class="team-modal-img" src="/img/team-modal-img/anastasiia-matsiuk-1x.webp" alt="scrum-master" width="">
        </picture>
        <div class="team-modal-description">
          <p class="team-modal-title">Anastasiia Matsiuk</p>
          <p class="team-modal-text">Scrum Master</p>
        </div>
      </li>
      <li class="team-modal-item">
        <picture>
        <source srcset="
        /img/team-modal-img/max-shakula-1x.webp 1x,
        /img/team-modal-img/max-shakula-2x.webp 2x"
        />
        <img class="team-modal-img" src="/img/team-modal-img/max-shakula-1x.webp" alt="developer" width="">
        </picture>
        <div class="team-modal-description">
          <p class="team-modal-title">Max Shakula</p>
          <p class="team-modal-text">Developer</p>
        </div>
      </li>
      <li class="team-modal-item">
        <picture>
        <source srcset="
        /img/team-modal-img/denys-penzin-1x.webp 1x,
        /img/team-modal-img/denys-penzin-2x.webp 2x"
        />
        <img class="team-modal-img" src="/img/team-modal-img/denys-penzin-1x.webp" alt="developer" width="">
        </picture>
        <div class="team-modal-description">
          <p class="team-modal-title">Denys Penzin</p>
          <p class="team-modal-text">Developer</p>
        </div>
      </li>
      <li class="team-modal-item">
        <picture>
        <source srcset="
        /img/team-modal-img/valeriia-fedorych-1x.webp 1x,
        /img/team-modal-img/valeriia-fedorych-2x.webp 2x"
        />
        <img class="team-modal-img" src="/img/team-modal-img/valeriia-fedorych-1x.webp" alt="developer"  width="">
        </picture>
        <div class="team-modal-description">
          <p class="team-modal-title">Valeriia Fedorych</p>
          <p class="team-modal-text">Developer</p>
        </div>
      </li>
      <li class="team-modal-item">
        <picture>
        <source srcset="
        /img/team-modal-img/alona-larzhevska-1x.webp 1x,
        /img/team-modal-img/alona-larzhevska-2x.webp 2x"
        />
        <img class="team-modal-img" src="/img/team-modal-img/alona-larzhevska-1x.webp" alt="developer" width="">
        </picture>
        <div class="team-modal-description">
          <p class="team-modal-title">Alona Larzhevska</p>
          <p class="team-modal-text">Developer</p>
        </div>
      </li>
      <li class="team-modal-item">
        <picture>
        <source srcset="
        /img/team-modal-img/oleksandr-pitsyk-1x.webp 1x,
        /img/team-modal-img/oleksandr-pitsyk-2x.webp 2x"
        />
        <img class="team-modal-img" src="/img/team-modal-img/oleksandr-pitsyk-1x.webp" alt="developer" width="">
        </picture>
        <div class="team-modal-description">
          <p class="team-modal-title">Oleksandr Pitsyk</p>
          <p class="team-modal-text">Developer</p>
        </div>
      </li>
      <li class="team-modal-item">
        <picture>
        <source srcset="
        /img/team-modal-img/maryna-veretiuk-1x.webp 1x,
        /img/team-modal-img/maryna-veretiuk-2x.webp 2x"
        />
        <img class="team-modal-img" src="/img/team-modal-img/maryna-veretiuk-1x.webp" alt="developer" width="">
        </picture>
        <div class="team-modal-description">
          <p class="team-modal-title">Maryna Veretiuk</p>
          <p class="team-modal-text">Developer</p>
        </div>
      </li>
      <li class="team-modal-item">
        <picture>
        <source srcset="
        /img/team-modal-img/denis-oleynik-1x.webp 1x,
        /img/team-modal-img/denis-oleynik-2x.webp 2x"
        />
        <img class="team-modal-img" src="/img/team-modal-img/denis-oleynik-1x.webp" alt="developer" width="">
        </picture>
        <div class="team-modal-description">
          <p class="team-modal-title">Denis Oleynik</p>
          <p class="team-modal-text">Developer</p>
        </div>
      </li>
      <li class="team-modal-item">
        <picture>
        <source srcset="
        /img/team-modal-img/valerii-okhrimyk-1x.webp 1x,
        /img/team-modal-img/valerii-okhrimyk-2x.webp 2x"
        />
        <img class="team-modal-img" src="/img/team-modal-img/valerii-okhrimyk-1x.webp" alt="developer" width="">
        </picture>
        <div class="team-modal-description">
          <p class="team-modal-title">Valerii Okhrimyk</p>
          <p class="team-modal-text">Developer</p>
        </div>
      </li>
    </ul>
  </div>
</div>
