.section.artists {
  padding-top: 112px;
  padding: 64px 16px;
}

.artists-header {
  margin-bottom: 32px;
}

.artists-subtitle {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.artists-title {
  font-family: var(--font-heading);
  font-size: 44px;
  line-height: 1.2;
  font-weight: 700;
}

.artists-list {
  display: grid;
  list-style: none;
  gap: 32px; 
}

.artist-card {
  display: flex;
  flex-direction: column;
}

.artist-card-image {
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 24px;
  aspect-ratio: 288 / 177;
}

.artist-card-image img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: top center;
}

.artist-desc {
  margin-bottom: 24px;
}

.artist-card-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin: 0 0 16px;
  list-style: none;
}

.artist-card-tag {
  display: inline-flex;
  align-items: center;
  padding: 4px 10px;
  min-height: 32px;
  border: 1px solid var(--color-white-20);
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  white-space: nowrap;
}

.artist-card-name {
  margin-bottom: 8px;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.3;
}

.artist-card-load-more {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  font-weight: 500;
  color: var(--color-white);
  background: none;
  border: none;
  padding: 0;
}

.artist-card-more:hover,
.artist-card-more:focus {
  text-decoration: underline;
}

.artist-card-more svg,
.artists-load-more svg {
  flex-shrink: 0;
}

.artists-actions {
  display: flex;
  justify-content: center;
  margin-top: 48px;
}

.artists-load-more {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 24px;
  font-weight: 400;
  gap: 4px;
}

/* for arrows */
.artists-load-icon,
.artist-card-icon {
  fill: currentColor;
  display: inline-block;
}

@media screen and (min-width: 768px) {

  .artist-card-image {
    aspect-ratio: 704 / 432.79;
  }

}

@media screen and (min-width: 1440px) {
  .artists-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .artist-card-image {
    aspect-ratio: 640 / 393;
  }

  .artists-header {
    width: 763px;
  }

  .artists-title {
    font-size: 60px;
  }

}
