.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-black-overlay);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 64px;
  left: 16px;
  right: 16px;
  bottom: 64px;
  border-radius: 16px;
  padding: 52px 8px 0 8px;
  background-color: var(--color-bg);
  overflow-y: auto;
}

.artist-img-wrapper {
  width: 100%;
  aspect-ratio: 288 / 167;
  overflow: hidden;
  border-radius: 8px;
}

.artist-img {
  width: 100%;
  height: auto;
  display: block;
}

.artists-modal-close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  top: 16px;
  right: 8px;
  transform: translate(-0%, -50%);
  background-color: var(--color-bg);
  border: none;
}

.artists-modal-close-icon {
  width: 32px;
  height: 32px;
  fill: var(--color-white);
  transition: fill var(--transition);
}

.artists-modal-close-icon:hover {
  opacity: 0.6;
}

.artist-name-title {
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  margin-bottom: 16px;
}

.artist-short-info-grid-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 16px;
  margin-bottom: 24px;
}

.short-info-small-header {
  font-family: var(--font);
  font-weight: 600;
  font-size: 18px;
  letter-spacing: normal;
}

.artist-bio {
  margin-bottom: 24px;
  max-width: 100%;
}

.artist-info {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
}

.artist-short-info {
  flex: 1;
  min-width: 0;
}

.short-info-small-text-wrapper {
  max-height: 135px;
  overflow-y: auto;
  background-color: var(--color-white-0);
}

.artist-short-info-genres-list {
  display: flex;
  gap: 16px;
  align-items: flex-start;
}

.artist-short-info-genre-btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  border: 1px solid var(--color-white-20);
  border-radius: 6px;
  padding: 4px 10px;
  background-color: var(--color-white-0);
  color: var(--color-white);
}

.artist-albums-header {
  font-size: 24px;
  line-height: 1.3;
  margin-top: 48px;
  grid-column: 1 / -1;
  margin-bottom: 16px;
}

.artist-table-header {
  font-family: var(--font);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 12px;
}

.artist-song-table {
  border-radius: 16px;
  padding: 14px 11px;
  /* width: 272px;
  min-width: 272px; */
  background-color: var(--color-surface-1);
  max-height: 564px;
  overflow-y: auto;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 4px;
}

thead th {
  font-weight: 600;
  font-size: 8px;
  text-align: left;
  padding: 4px 12px;
}

thead tr {
  background-color: var(--color-surface-2);
}

thead tr th:first-child {
  border-radius: 8px 0 0 8px;
}

thead tr th:last-child {
  border-radius: 0 8px 8px 0;
}

tbody td {
  padding: 12px;
}

tbody tr:nth-child(odd) {
  background-color: var(--color-surface-1);
}

tbody tr:nth-child(even) {
  background-color: var(--color-surface-2);
}

tbody tr td:first-child {
  border-radius: 8px 0 0 8px;
}

tbody tr td:last-child {
  border-radius: 0 8px 8px 0;
}

tbody td {
  font-size: 12px;
}

.artist-albums-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0px;
  grid-template-rows: auto 564px;
  grid-auto-rows: 372px;
}

.artist-song-table {
  margin-top: 32px;
}

.artist-song-table:first-of-type {
  margin-top: 0;
}

.artist-modal-youtube-icon {
  fill: var(--color-white);
  transition: opacity var(--transition);
}

@media screen and (min-width: 768px) {
  .modal {
    padding: 64px 16px 0 16px;
    left: 32px;
    right: 32px;
  }
  .artists-modal-close-icon:hover {
    opacity: 0.6;
  }

  .artist-name-title {
    font-size: 32px;
    line-height: 1.3;
    margin-bottom: 48px;
  }

  .artist-img-wrapper {
    width: 654px;
    height: 402px;
  }

  .artist-short-info-grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 48px;
    row-gap: 16px;
    margin-bottom: 24px;
    grid-template-rows: 54px 54px;
    grid-template-columns: 147px 1fr;
  }
  .artist-albums-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 32px;
    grid-template-rows: auto 564px;
    grid-auto-rows: 372px;
  }

  .artist-song-table:nth-of-type(-n + 2) {
    margin-top: 0;
  }

  .artist-modal-youtube-icon:hover {
    opacity: 0.6;
  }
}

@media screen and (min-width: 1440px) {
  .modal {
    padding-left: 64px;
    padding-right: 64px;
    left: 64px;
    right: 64px;
  }

  .artist-img-wrapper {
    width: 576px;
    height: 354px;
  }

  .artist-info {
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: flex-start;
  }
  .artist-albums-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 32px;
    grid-template-rows: auto 564px;
    grid-auto-rows: 372px;
  }
  .artist-song-table:nth-of-type(-n + 4) {
    margin-top: 0;
  }
}
