/* #region fonts */
@font-face {
  font-display: swap;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/ibm-plex-sans-v23-latin-regular.woff2')
    format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/ibm-plex-sans-v23-latin-500.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/ibm-plex-sans-v23-latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/epilogue-v20-latin-700.woff2') format('woff2');
}

/* #endregion fonts */

:root {
  --font: IBM Plex Sans, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  --font-heading: Epilogue, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;

  --color-white: #fff;
  --color-black: #000;
  --color-bg: #060307;
  --color-surface-1: #1a1a1a;
  --color-surface-2: #2a2a2a;
  --color-hero-base: #23132b;
  --color-accent: #764191;
  --color-accent-dark: #55236e;

  --color-black-20: rgba(0, 0, 0, 0.2);
  --color-black-25: rgba(0, 0, 0, 0.25);
  --color-white-0: rgba(255, 255, 255, 0);
  --color-white-05: rgba(255, 255, 255, 0.05);
  --color-white-20: rgba(255, 255, 255, 0.2);
  --color-white-25: rgba(255, 255, 255, 0.25);
  --color-white-50: rgba(255, 255, 255, 0.5);
  --color-bg-05: rgba(6, 3, 7, 0.05);
  --color-bg-15: rgba(6, 3, 7, 0.15);
  --color-hero-base-0: rgba(35, 19, 43, 0);

  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;

  color: var(--color-white);
  background-color: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  scroll-behavior: smooth;

  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: var(--font);
  min-width: 100vw;
  min-height: 100vh;
}

h1,
h2,
h3 {
  font-family: var(--font-heading);
  letter-spacing: -0.01em;
}
