.section {
  padding: 64px 0;
}

@media screen and (min-width: 1440px) {
  .section {
    padding: 112px 0;
  }
}

.btn {
  font-weight: 500;
  color: #fff;
  border: none;
  border-radius: 12px;
  box-shadow:
    0 1px 2px 0 rgba(6, 3, 7, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px rgba(6, 3, 7, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background: #764191;
  transition:
    opacity var(--transition),
    box-shadow var(--transition);

  &:hover,
  &:focus {
    outline: none;
    opacity: 0.6;
  }

  &:active {
    box-shadow: 0 1px 2px 0 rgba(6, 3, 7, 0.05);
  }

  &:disabled {
    opacity: 0.2;
  }
}

.loader {
  width: 48px;
  height: 48px;
  border: 3px solid #fff;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid;
  border-color: #764191 transparent;
}
@media screen and (min-width: 768px) {
  .loader {
    width: 96px;
    height: 96px;
    border: 6px solid #fff;
  }
  .loader::after {
    width: 80px;
    height: 80px;
    border: 6px solid;
    border-color: #764191 transparent;
  }
}

/* Styles for Desktop devices */
@media screen and (min-width: 1440px) {
  .loader {
    width: 144px;
    height: 144px;
    border: 9px solid #fff;
  }
  .loader::after {
    width: 120px;
    height: 120px;
    border: 9px solid;
    border-color: #764191 transparent;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
