.section {
  padding: 64px 0;
}

@media screen and (min-width: 1440px) {
  .section {
    padding: 112px 0;
  }
}

.btn {
  font-weight: 500;
  color: #fff;
  border: none;
  border-radius: 12px;
  box-shadow:
    0 1px 2px 0 rgba(6, 3, 7, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px rgba(6, 3, 7, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background: #764191;
  transition:
    opasity var(--transition),
    box-shadow var(--transition);

  &:hover,
  &:focus {
    outline: none;
    opacity: 0.6;
  }

  &:active {
    box-shadow: 0 1px 2px 0 rgba(6, 3, 7, 0.05);
  }

  &:disabled {
    opacity: 0.2;
  }
}
