/* .feedback {
  background-color: var(--color-pink);
} */

/* ================================================================= */
/* Для приховування блока використовується патерн – visually-hidden: */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* ================================================================== */

/* .swiper {
} */

/* .swiper-wrapper {
} */

/* .swiper-slide {
} */

.swiper-button-prev,
.swiper-button-next {
  border: var(--color-white-50) solid 1px;
  border-radius: 8px;
  padding: 12px;
  --swiper-navigation-size: 48px;
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-sides-offset: 0px;
  /* --swiper-navigation-color: var(--swiper-theme-color); */
  --swiper-navigation-color: var(--color-white);
}

.swiper-pagination {
  padding: 10px 0;
  /* --swiper-pagination-color: var(--swiper-theme-color); */
  --swiper-pagination-color: var(--color-white);
  --swiper-pagination-left: auto;
  --swiper-pagination-right: 8px;
  /* --swiper-pagination-bottom: 8px; */
  --swiper-pagination-bottom: 0px;
  --swiper-pagination-top: auto;
  --swiper-pagination-fraction-color: inherit;
  --swiper-pagination-progressbar-bg-color: var(--color-black-25);
  --swiper-pagination-progressbar-size: 4px;
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  /* --swiper-pagination-bullet-inactive-color: var(--color-black); */
  --swiper-pagination-bullet-inactive-color: var(--color-white);
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
}

.feedback-block {
  width: 100%;
  padding: 0;
  /* Відступ зроблено більше,ніж по макету, щоб нормально влазили всі відгуки */
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: start;
}

.feedback-rating {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.feedback-descr {
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  text-align: center;
}

.feedback-name {
  font-family: var(--font);
  font-weight: 600;
  font-size: 18;
  line-height: 1.5;
  letter-spacing: 0;
}

/* Adaptive */
/* Styles for Tablet devices */
@media screen and (min-width: 768px) {
  .feedback-block {
    padding-left: 93px;
    padding-right: 93px;
  }

  .feedback-descr {
    font-size: 26px;
  }
}

/* Styles for Desktop devices */
@media screen and (min-width: 1440px) {
  .feedback-block {
    padding-top: 59px;
    padding-right: 223px;
    /* padding-bottom: 59px; */
    padding-left: 223px;
  }

  .feedback-descr {
    font-size: 32px;
    line-height: 1.3;
  }
}
