.footer {
  padding: 48px 0;
}

.footer-logo-wrapper {
  display: flex;
  flex-direction: row;
  gap: 32px;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}

.footer-logo {
  display: inline-flex;
  width: 84px;
  height: 36px;
}

.footer-logo-svg {
  fill: var(--color-accent);
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
  margin-bottom: 48px;
}

.footer-nav-item {
  color: var(--color-white);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
}

.footer-nav-link {
  transition: var(--transition);
}

.footer-nav-link:hover,
.footer-nav-link:focus {
  color: var(--color-accent);
}

.footer-nav-link:active {
  color: var(--color-white);
}

.divider {
  background: var(--color-white-20);
  width: 100%;
  height: 1px;
  margin-bottom: 24px;
}

.footer-social-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.social-icon {
  fill: var(--color-white);
  transition: var(--transition);
}

.footer-social-link:hover .social-icon,
.footer-social-link:focus .social-icon {
  fill: var(--color-accent-dark);
}

.footer-text {
  color: var(--color-white);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.open-team-modal-btn {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: underline;
  color: var(--color-white);
  background-color: var(--color-bg);
  border: none;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 80px 0;
  }

  .footer-logo {
    width: 116px;
    height: 45px;
  }

  .footer-nav-list {
    flex-direction: row;
    margin-bottom: 80px;
  }

  .divider {
    margin-bottom: 32px;
  }

  .footer-social-wrapper {
    flex-direction: row-reverse;
    gap: 0;
    align-items: center;
    margin-bottom: 0;
  }

  .footer-social-list {
    gap: 24px;
  }

  .footer-text-wrapper {
    display: flex;
    margin-right: auto;
  }

  .open-team-modal-btn:hover {
    color: var(--color-accent);
  }
}

@media screen and (min-width: 1440px) {
  .open-team-modal-btn {
    font-size: 16px;
  }
}
