.footer-section {
  padding: 48px 0;
}

.footer-logo-wrapper {
  display: flex;
  flex-direction: row;
  gap: 32px;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}

.footer-logo {
  width: 84px;
  height: 36px;
  display: inline-flex;
}

.footer-logo-svg {
  fill: #764191;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
  margin-bottom: 48px;
}

.footer-nav-item {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
}

.footer-nav-link {
  transition: color 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.footer-nav-link:hover,
.footer-nav-link:focus {
  color: #764191;
}

.footer-nav-link:active {
  color: #fff;
}

.divider {
  background: rgba(255, 255, 255, 0.2);
  width: 100%;
  height: 1px;
  margin-bottom: 24px;
}

.footer-social-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.social-icon {
  fill: #ffffff;
  transition: fill 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.footer-social-link:hover .social-icon,
.footer-social-link:focus .social-icon {
  fill: #55236e;
}

.footer-text {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

@media only screen and (min-width: 768px) {
  .footer-section {
    padding: 80px 0;
  }

  .footer-logo {
    width: 116px;
    height: 45px;
  }

  .footer-nav-list {
    flex-direction: row;
    margin-bottom: 80px;
  }

  .divider {
    margin-bottom: 32px;
  }

  .footer-social-wrapper {
    flex-direction: row-reverse;
    gap: 0;
    align-items: center;
    margin-bottom: 0;
  }

  .footer-social-list {
    gap: 24px;
  }

  .footer-text-wrapper {
    margin-right: auto;
  }
}

@media only screen and (min-width: 1440px) {}