.header {
  background-color: var(--color-bg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 64px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.header-container {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 20px;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.nav-logo-icon {
  fill: var(--color-white);
  width: 107px;
  height: 30px;
}
.nav-burger-icon, .modal-close-icon {
  fill: var(--color-white);
  width: 24px;
  height: 24px;
}
.nav-button, .modal-close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
}
.nav-item {
  display: none;
  transition: opacity var(--transition);
}
.nav-link {
  &:focus {
    text-decoration: underline;
  }
}

/* modal styles */

.modal-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-bg);
  transition: var(--transition);
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
}
.modal-open {
  opacity: 1;
  pointer-events: auto;
}
.modal-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 12px 0 20px;
  height: 64px;
}
.modal-close-button {
  width: 48px;
  height: 48px;
}
.modal-nav {
  margin-top: 39px;
}
.modal-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.modal-nav-item {
  color: var(--color-white);
  font-size: 26px;
  font-weight: 500;
}

@media screen and (min-width: 760px) {
  .header {
    height: 72px;
  }
  .header-container {
    padding: 0 72px;
  }
  .nav-button {
    display: none;
  }
  .nav-list {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  .nav-item {
    display: block;

    &:hover {
      opacity: 0.6;
    }
    &:focus {
      outline: none;
    }
  }
}