.hero {
  position: relative;
  overflow: hidden;
}

.hero-container {
  background-color: var(--color-hero-base);
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  pointer-events: none;
  z-index: 1;
  background: linear-gradient(
    180deg,
    var(--color-bg) 0%,
    var(--color-hero-base-0) 100%)
  
}

.hero-content {
  position: relative;
  padding-top: 80px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-bottom: 64px;
}

.hero-title {
  font-size: 48px;
  line-height: 1.1;
}

.hero-subtitle {
  font-size: 18px;
  font-family: var(--font);
}

.explore-btn {
  justify-content: center;
  padding: 10px 24px;
  display: inline-flex;
  align-items: center;
  gap: 12px;
}

.hero-icon {
  fill: white;
}

.hero-bg-image-wrapper {
  height: 385px;
  z-index: 1;
  position: relative;
  background-image: image-set(
  url('../img/hero-img/hero-mob-1x.webp') 1x,
  url('../img/hero-img/hero-mob-2x.webp') 2x
);
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;

}

.hero::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  pointer-events: none;
  width: 100%;
  height: 106px;
  background: linear-gradient(
    to top,
    var(--color-bg) 0%,
    var(--color-hero-base-0) 100%
  );
}


@media screen and (min-width: 768px) {

  .hero::before {
    height: 125px;
  }
  
  .hero::after {
    height: 137px;
  }

  .hero-title {
    max-width: 624px;
    padding-bottom: 24px;
  }

  .hero-subtitle {
    font-size: 20px;
    padding-bottom: 32px;
  }

  .hero-content {
    row-gap: 0;
    padding-top: 32px;
    margin-bottom: 32px;
  }

  .explore-btn {
    width: 246px;
    height: 47px;
  }

  .hero-bg-image-wrapper {
  height: 632px;
  background-image: image-set(
  url('../img/hero-img/hero-tab-1x.webp') 1x,
  url('../img/hero-img/hero-tab-2x.webp') 2x
  );
  }
}

@media screen and (min-width: 1440px) {

  .hero::before {
    height: 80px;
    z-index: 3;
  }

  .hero::after {
    height: 137px;
  }

  .hero-title {
    font-size: 84px;
    max-width: 640px;
  }

  .hero-subtitle {
    max-width: 640px;
  }

  .hero-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 31px;
  }
  
  .hero-content {
    width: 50%;
    padding-top: 24px;
  }

  .hero-bg-image-wrapper {
    width: 641px;
    height: 900px;
    background-image: image-set(
    url('../img/hero-img/hero-desk-1x.webp') 1x,
    url('../img/hero-img/hero-desk-2x.webp') 2x
    );

  background-size: cover;
  background-position: center;
  }
}