/* Common styles */
@import url('./modern-normalize.css');
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./common.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./hero.css');
@import url('./artists.css');
@import url('./about.css');
@import url('./feedback.css');
@import url('./artist-modal.css');
@import url('./footer.css');
@import url('./team-modal.css');
