.team-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-black-overlay);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  overflow-y: auto;

  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.team-modal {
  position: relative;
  background-color: var(--color-bg);
}

.team-modal-close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
}
